.navbar {
  height: 60px; 
  width:100%; 
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.light {
  background-color: #c5c5c5;
}

.dark {
  background-color: #8dc6ff;
}

.navbar-icon {
  padding-left: 10px;
  color: black;
}

.navbar-icon:hover {
  color: rgb(213, 235, 254);
}

.navbar-title {
  font-size: 30px;
  padding-left: 10px;
  font-weight: 750px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-search-display {
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-search-display-result {
  padding: 5px;
}
